*{
    padding:  0;
    margin: 0;
    box-sizing:border-box;
}

/* common */
.clear{
    clear: both;
}
html{
    scroll-behavior: smooth;
    font-family:Helvetica, Arial,sans-serif;
    
}
.mt-32{
    margin-top: 32px;
}
.mb-48{
    margin-bottom:48px;
}
.p-8{
    padding: 8px;
}

.row{
 margin-left:  -8px;
 margin-right: -8px;
}

.col{
float: left;
padding-left: 8px;
padding-right: 8px;
}

.col-third{
    width:33.3333%;
}

.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.mt-16{
    margin-top: 16px;
}
.mb-32{
    margin-bottom:32px;
}
/* common */

/* local */
#nav{
    display:inline-block;
}
#nav >li{
    display: inline-block; 
   
}
#nav li{
    position: relative;
    
}
#nav>li>a{
    text-transform: uppercase;
}
#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
    /* font-size: 12px; */
    
 
}
#nav li:hover .subnav{
    display: block;
}
#nav >li:hover> a,#nav .subnav li:hover a{
    color:black;
    background-color:#ccc;
    display: block;

}
#nav li:hover a{
    color:black;
}
#nav .subnav li:hover{
    color:black;
    background-color:#ccc;
    display: block;
}
#nav .subnav a{
    padding: 0 16px;
}

#nav .subnav {
    position: absolute;
    display: none;
    min-width: 200px;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-size: 18px;
}
#nav .icon-down{
    font-size: 10px;
}
#header .mobile-btn {
    padding:  11px 20px;;
    float: right;
    color: #fff;
    font-weight: bolder;
    padding-top: 10px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .search-btn {
    padding:  11px 20px;;
    float: right;
    color: #fff;
    font-weight: bolder;
    padding-top: 10px;
}
#header .mobile-btn:hover {
    background-color: #ccc;
    color:#000;
}
#header .search-btn:hover{
    cursor: pointer;
   background-color:#f44336;
}


#header{
    height: 46px;
    background-color: black;
    position: fixed;
    top :0;
    left:0;
    right: 0;
    z-index: 1;
    overflow: initial;
    max-width: 100%;
}
#slider{
    position:relative; 
    margin-top:46px ;
    padding-top: 50%;
    background: url(../img/chicago.jpg) top center /cover no-repeat;
    
}
#slider .text2-slider{
     font-size:15px;
    margin-top: 16px;
    text-shadow: 0 0 5px #000;
}
#slider .text{
    position:absolute;
    bottom: 47px;
   color: #fff;
   text-align:center;
   width: 100%; 
}
#slider .text1-slider{
    margin-bottom: 25px;
    font-weight: 400;
    font-size:  24px;
    
}


#content .content-section{
    width: 850px; 
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 75px 0;
    padding-left: 16px;
    padding-right: 16px;
}
#content .section-heading{
    text-align:center;
    font-size: 30px;
    font-weight:400;
    letter-spacing:4px;
}
#content .section-subheading{
    text-align: center;
    font-size:15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-section{
    text-align: justify;
    font-size: 15px;
    line-height: 25px;
    margin-top: 25px;
    letter-spacing: 0.4px;
}
#content .member-list{
    margin-top:48px;
}
#content .member-item{
float: left;
text-align: center;
width:33.3333%;
}
#content .member-name{
    font-size:15px;
    margin-bottom: 15px;
}
#content .member-img{
    width: 156px;
    border-radius: 5px;
}
.tour-section{
    background-color: #000;
}
.text-white{
    color:#fff !important;
}
.tour-section .ticket-list{
    color:#fff;
   margin-left: 16px;
   background-color: #f44336;
   padding : 5px 8px;
}
.tour-section .quantity{
    float :right;
    background-color: #000;
    color:#fff;
    border-radius: 50%;
    width:24px;
height:24px;
line-height:24px;
text-align: center;
padding: 1px;
}
.tour-section .ticket{
background-color:#fff;
margin-top: 40px; 

}
.ticket li{
padding:12px 16px;
border: solid #ddd 1px;
font-size:15px;
color:#757575;
list-style: none;
}
.place-img{
   width:100%;
   display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-list{
    margin-top: 32px; 
;
}
.place-heading{
    font-size: 16px;
    font-weight:600
}
.place-date{
    padding-top: 15px;
    color:#757575;
    font-size: 15px;
}
.place-para{
    padding-top: 15px;
    font-size: 15px;
    line-height:1.6;
    font-weight: 300;
    
}
.place-btn
{
    background:#000;
    color:#fff;
    text-decoration: none;
    padding: 11px 16px;
    display:inline-block;
    font-size: 15px;
    font-weight:500;
    margin-top: 16px;
    border:none;
}
.place-btn:hover{
    background-color:#ccc;
    color:#000;
}
.place-body{
    background-color:#fff;
    padding: 16px 18px;
    
}
.modal.js-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;   
     
  
}
.modal-container {
    background-color: #fff;
    position: relative;
    width: 900px;
    border-radius: 15px ;
 max-width: calc(100% - 50px);
       min-height: 130px;
       animation: modalfadein ease 0.6s;
}
header {
    width: 900px;
    height: 130px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  font-size: 30px;
  letter-spacing: 3px;
  border-top-left-radius:  15px ;
  border-top-right-radius: 15px;
  max-width: calc(100% - 0px);
}
.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    opacity:0.8;
    color:#fff;
    cursor: pointer;
}
.modal-icon-heading{
    padding-right: 10px;
    
} 
.modal-body{
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin: 16px;
}
.modal-input {
    margin-left: 16px;
    width: 96%;
    padding: 10px;
    border: solid #ccc 1px;
    margin-bottom: 25px;
    border-radius: 9px;
}
.modal-pay {
    border: none;
    background-color: #009688;
    width: 96%;
    padding: 16px;
    margin-left: 16px;
    border-radius: 50px;
    text-transform: uppercase;
    color: #fff;
    margin-bottom:16px;
    cursor: pointer;
    opacity: 0.9;
}
footer a{
    color: #2196F3;
}
footer {
    /* right: 0; */
    font-size: 15px;
    text-align: right;
    margin-right: 21px;
    margin-bottom: 22px;
    margin-top: 16px;
}
.modal-pay:hover{
    opacity:2;
}
.modal-close:hover{
    opacity:1;
}
.modal.open{
      display:flex;
}
@keyframes modalfadein{
    from { 
        opacity:0;
        transform:translateY(-140px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}
.contact-info{
    margin-top: 16px;
    font-size:18px;
}
.contact-info i[class*="ti-"] {
    display: inline-block;
    width: 30px;
    line-height:1.6;
}
.contact-form{
    margin-top: 48px;
}
.contact-form .form-control{
    font-size: 15px;
    padding: 11px;
border: 1px solid #ccc;
border-radius: 5px;
outline: none;
width: 100%;
}
.contact-item{
    margin-top: 10px;
}
.contact-btn{
    float: right;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 8px 16px;
    background-color:#000;
    color:#fff;
    font-size:15px;
    border-radius:20px;
    border: none;
    font-weight: 510;
    cursor: pointer;
}
.contact-btn:hover{
    background-color:#ddd;
    color:#000;
}
.footer-img{
    width: 100%;
}
.icon-footer{
    font-size: 24px;
    color:rgba(0, 0, 0, 0.6);
}
.icon-footer a{
    color:rgba(0, 0, 0, 0.6);
    text-decoration:none;
}
.icon-footer a:hover{
    color:rgba(0, 0, 0, 0.3);
}
.copywrite{
    font-size: 15px;
    margin-top:10px;
    
}
.copywrite a{
    color:rgba(0, 0, 0, 0.6);
}
#footer{
padding:70px 16px;
text-align: center;
}